html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #e0dddd;
}

.container {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 400;
    width: 300px;
    height: 100px;
  }
  .container .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: #76b852;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  }
  .container .search:hover {
    cursor: pointer;
  }
  .container .search::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all 0.5s;
  }
  .container .search::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.5s;
  }
  .container input {
    font-family: "Inconsolata", monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: #8dc26f;
    color: white;
    text-shadow: 0 0 10px #8dc26f;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 #8dc26f, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
  }
  .container input:hover {
    cursor: pointer;
  }
  .container input:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
  }
  .container input:focus ~ .search {
    right: -250px;
    background: #151515;
    z-index: 6;
  }
  .container input:focus ~ .search::before {
    top: 0;
    left: 0;
    width: 25px;
  }
  .container input:focus ~ .search::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
  }
  .container input::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bolder;
  }

.page {
    margin: 150px auto;
    width: 70%;
    background-color: #fff;
    border-radius: 5px;
    padding: 50px;
  }
  
  .page-header {
    margin-bottom: 20px;
  }
  .page-header h2 {
    float: left;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: #131212;
  }


.student-item {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #eaeaea;
}

.student-details {
  width: 50%;
}


.student-details h3 {
  margin: 40px 0 5px 0;
  font-weight: bold;
  color: #066437;
}

.student-details .email {
  color: #888;
  font-size: 14px;
}

.joined-details {
  width: 50%;
  float: left;
  text-align: right;
}

.joined-details .date {
  margin-top: 15px;
  display: block;
  font-size: 14px;
  color: #999;
}

.student-item:last-child {
  margin: 0;
  padding: 0;
  border-bottom: none;
}